<% provide(:title, "About") %>
<div class=about>
<h1>About</h1>

<div class = abtImage>
<img src=https://s21.postimg.org/qkhixdf7b/fark.png width="250" height="190">
</div>

<div class= aboutInfo>
<p style="color: white">
  Ever parked somewhere and left the headlights on in your car?
  What about accidentally parked somewhere illegal and almost got towed?
</p>

<p style="color: white">
  What if someone was able to tell you all that information, before any of these disasters happened?
</p>
  
<p style="color: white">  
  Alertif is a web app that allow car owners to be notified if there are discrepancies.
  Simply sign up for an account, input your phone number and license plate number, and passers-by will be able to contact you
  in case something happens to your car when you're not there.
</p>

<p style="color: white">  
  To use the app, you input a license plate number of the car that has an issue, and a message telling the car owner what the
  issue is. Then, the owner will get receive a SMS message notifying them of the issue. Hopefully, this would save car owners time, money,
  and frustration by notifying them of car problems before they get out of hand.
</p>
</div>
</div>