<% provide(:title, 'Contact') %>
<div class=contact>
<h1>Contact</h1>

<div class=pics>
  <img style="display: inline; margin: 0 65px;"  src = https://scontent-ord1-1.cdninstagram.com/t51.2885-19/s320x320/12751549_224856114528722_1367987203_a.jpg width="200" height="200">
  <img style="display: inline; margin: 0 65px;" src = https://s13.postimg.org/7j32u2mcn/heathen.jpg width="200" height="200">
  <img style="display: inline; margin: 0 65px;" src = https://s13.postimg.org/7j32u2mcn/heathen.jpg width="200" height="200">
</div>

<div class=DevNames>
  <ul>
    <li> <a href="https://www.linkedin.com/in/allisonthegreat">Allison Lu</a></li>
    <li><a href="https://www.linkedin.com/in/james-he-82955ba6">James He </a></li>
    <li> <a href="https://www.linkedin.com/in/james-he-82955ba6">Byron Lee </a></li>
  </ul>
  </div>

<div class= bio>
  <ul>
  <li>Northwestern University Student</li>
  <li>Northwestern University Student</li>
  <li>   Purdue University Student</li>
  </ul>
</div>
</div>