<% provide(:title, "Technologies") %>
<h1>Technologies We Used</h1>

<div class=techLogosLine1>
  <img style="display: inline; margin: 0 65px;"  src = https://s17.postimg.org/gicxzmh7z/rails.png width="180" height="210">
  <img style="display: inline; margin: 0 65px;" src = https://s18.postimg.org/cqif8cp95/twilio.png width="370" height="110">
  <img style="display: inline; margin: 0 65px;" src = https://s17.postimg.org/x7ydgx9fz/ruby.png width="190" height="190">
</div>

<div class=techLogosLine2>
  <img style="display: inline; margin: 0 75px;"  src = https://s17.postimg.org/71gae2cz3/htms.png width="180" height="200">
  <img style="display: inline; margin: 0 135px;" src = https://s14.postimg.org/kveh70u4h/css.png width="180" height="200">
  <img style="display: inline; margin: 0 75px;" src = https://s18.postimg.org/850qhocjt/ssl.png width="190" height="190">
</div>