<div class="centerjumbotron">
  <div class="logo">
    <div style="text-align: center">
  <img src=https://s22.postimg.org/55kegiz75/alertify_Logo_white.png width="350" height="130" >
  </div>
  </div>

  <h3>
    anonymously alert drivers that something's up with their vehicle.
  </h3>

  <div class = button>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>