<footer class="footer">
  <small>
    Wildhacks 2016 Project
  </small>
  <nav>
    <ul>
      <li><a href="https://wildhacks2016.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=discover/">DevPost</a></li>
    </ul>
  </nav>
</footer>